body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #efeff3;
}

p,
h3 {
  margin: 0;
  padding: 0;
}

div{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container {
  width: 100%;
  max-width: 480px;
  margin: auto;
  background-color: #efeff3;
  border-radius: 10px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
}
.header {
  padding: 40px 16px 20px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile_date {
  flex: 1;
  align-self: center;
  margin-left: 10px;
}
.header img {
  width: 30%;
}

.back {
  font-size: 14px;
  color: #d53e76;
  font-weight: 400;
  padding-bottom: 18px;
  display: flex;
}

.back:hover{
  color: #B12D5E;
}

.back::before {
  content: url(/img/back.svg);
  display: block;
  padding-right: 5px;
}
.header .name {
  font-size: 17px;
  font-weight: bold;
  color: #0e2539;
}
.header .username {
  color: #6d7882;
  font-size: 15px;
}
.connect-wallet {
  display: inline-block;
  padding: 7px 13px;
  background-color: #1a4265;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  align-content: center;
}

.connect-wallet p {
  font-size: 16;
}

.connect-wallet p::before {
  display: inline-block;
  content: url(/img/wallet.svg);
  margin-right: 17px;
  width: 2vw;
}

.icons {
  display: flex;
  justify-content: space-around;
  padding: 13px;
}

.activ_on {
  border: 2px solid #d53e76;
}

.activ_off {
  border: 2px solid #8f9ba6;
}
.icons img {
  width: 75px;
  height: 75px;

  border-radius: 20px;
  padding: 2px;
}
.content {
  text-align: center;
  padding: 0 20px 0 20px;
}
.content img {
  width: 110px;
  height: 110px;
}
.content .title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
  color: #0e2539;
}

.main-btn {
  margin-top: 24px;
}
.content .description {
  color: #666;
  margin-top: 16px;
  font-size: 15px;
  color: #434d56;
}
.btn {
  display: block;
  padding: 12px 30px;
  background-color: #d53e76;
  color: white;
  border-radius: 16px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  border: 3px solid #d53e76;
}

.disabled{
  background-color: #C2C2C2;
  border: 3px solid #C2C2C2
}

.btn:hover {
  background-color: #B12D5E;
  border: 3px solid #B12D5E
}

.btn:focus {
  background-color: #B12D5E;
  border: 3px solid #B12D5E
}




.read-faq {
  background-color: #fff;
  padding: 0 20px;
  display: flex;
  margin: 0 20px;
  border-radius: 20px;
  height: 80px;
  align-content: center;
  align-items: center;
  margin-top: 50px;
}

.learn h3 {
  font-size: 14px;
  margin-bottom: 10px;
  color: #0e2539;
}

.learn p {
  font-size: 13px;
  text-decoration: none;
  text-transform: none;
  color: #d53e76;
}

.bucket-img img {
  object-fit: cover;
  margin-right: 15px;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  text-align: center;
  padding: 10px 0;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  justify-content: space-between;
  width: 100%;
  max-width: 480px;
  color: #1a4265;
}

.footer a {
  color: #1a4265;
  font-size: 14px;
}
.footer img {
  width: 20px;
  height: 20px;
}
.footer .nav-item {
  display: inline-block;
  width: 33%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  
}

.nav-item > div{
  color: #1A4265;

text-align: center;
font-family: "SF Pro Display", sans-serif;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.inavtiv div{
  color: #999;

}

.footer .nav-item a {
  font-size: 10px;
}

.setting {
  width: auto !important;
  padding-left: 10px;
}

.nav-item a {
  color: #999999;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 300;
}

.activ_item a {
  color: #1a4265;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 300;
}

/* store */

.your-stores {
  padding: 10px 16px 0 16px;
}
.stores-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.stores-header .title {
  font-size: 22px;
  font-weight: bold;
  color: #0e2539;
}
.filter {
  font-size: 14px;
  color: #ff4081;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.filter span {
  margin-left: 5px;
  font-size: 10px;
}
.store-card {
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 15px;
}
.store-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 16px;
  margin-bottom: 17px;
}
.store-info {
  display: flex;
  align-items: center;
}
.store-logo {
  border-radius: 50%;
  margin-right: 10px;
}
.store-name {
  font-size: 17px;
  color: #0e2539;
  font-weight: 500;
  margin-bottom: 3px;
}
.store-username {
  color: #6d7882;
}
.store-arrow {
  font-size: 18px;
  color: #ccc;
}

.stat-page{
  gap: 30px;
}

.add-item-menu{
  margin-top: 18px !important;
}

.item-menu-order{
  padding: 0 16px 16px 16px !important;
}

.add-item-title{
  color: #0E2539;

font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 105.882% */
}


.store-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2px;
}
.stat {
  flex: 1 1 45%;
  margin-bottom: 10px;
  max-width: 159px;
}
.stat-value {
  font-size: 15px;
  color: #0e2539;
  font-weight: 600;
}
.stat-label {
  color: #6d7882;
  margin-bottom: 5px;
  font-size: 15px;
}

.content .store {
  padding: 0 20px;
}

/* Стили для кастомных выпадающих списков */
.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}
.select-selected {
  background-color: #fff;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: #fff;
  width: 100%;
  z-index: 99;
  max-height: 150px;
  overflow-y: auto;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  box-shadow: 5px 6px 19px 0px rgba(0, 0, 0, 0.14);
}
.select-items div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #dbdbdb;
}

.select-items div:last-child {
  border-bottom: 0;
}
.select-items div:hover {
  background-color: #ddd;
}
.select-hide {
  display: none;
}
.select-arrow-active:after {
  border-color: transparent transparent #333 transparent;
  top: 7px;
}

/* filter */

/* Initially hide the dropdown content */
.dropdown-content {
  position: fixed;
  min-width: 160px;
  width: 95%;
  bottom: -100%;
  left: 12px;
  text-align: center;
  z-index: 4;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  border-radius: 14px;
  transition: 0.5s ease-in-out; /* Added transition */
}

/* Show the dropdown content when clicking on the filter */
.dropdown-content.show {
  bottom: 1%; /* Move the dropdown to the bottom of the screen */
}

/* Show the dropdown content when clicking on the filter */
.dropdown-content.show {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

/* Style the dropdown items (you can customize this) */
.dropdown-item {
  padding: 17px 16px;
  text-decoration: none;
  display: block;
  color: #1a4265;
  font-weight: 500;
  border-bottom: 0.5px solid #b9b9bb;
  background-color: #fff;
  font-size: 17px;
}

.dropdown-item:first-child {
  border-radius: 12px 12px 0 0;
}

.dropdown-item:nth-child(4) {
  border-radius: 0 0 12px 12px;
}

.dropdown-item:hover {
  background-color: #ddd;
}

/* Style the cancel button (you can customize this) */
.dropdown-item.cancel {
  color: #d53e76;
  border-radius: 14px;
  border-bottom: none;
  margin-top: 15px;
  background-color: #fff;
  font-weight: 600;
}

/* Dropdown overlay for background dimming */
.dropdown-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  background-color: rgba(0, 0, 0, 0); /* Начальное состояние: прозрачный фон */
  transition: background-color 0.5s ease-in-out; /* Анимация изменения цвета фона */
}

.dropdown-overlay.show {
  background-color: rgba(0, 0, 0, 0.5); /* Показываем затемнение фона */
  display: block;
  z-index: 2;
}

/* order */

.container-order {
  background-color: #ffffff;
  padding-bottom: 0;
  border-radius: 0;
}

.order.store-header {
  display: flex;
  padding: 20px 0 0 20px;
  border-bottom: none;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0;
}

.store-menu {
  display: flex;
  flex-direction: row;
  gap: 26px;
  margin-top: 25px;
}

.store-menu_item {
  color: #8e8e92;
  padding-bottom: 10px;
  position: relative;
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.052px;
}

.activ {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.864px; /* 134.743% */
  letter-spacing: -0.052px;
  font-family: "SF Pro Display", sans-serif;
}

.activ::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  border-radius: 5px 5px 0 0;
  background-color: #d53e76;
}

.order-contents {
  background-color: #efeff3;
  padding: 16px;
}

.order-filter {
  background-color: #fff;
  padding: 0 0 0 12px;
  border-radius: 10px;
}

.all-check {
  display: flex;
  justify-content: space-between;
}

.filter-class-item {
  display: flex !important;
  justify-content: space-between !important;
  padding: 11px 0;
  border-bottom: 1px solid #dbdbdb;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
}

.filter-class-item:last-child {
  border-bottom: none;
}

.filter-detail::after {
  content: url(/img/arrow-rgth.svg);
  padding-left: 15px;
}

.filter-detail {
  color: rgba(60, 60, 67, 0.6);
  padding-right: 15px;
  font-family: "SF Pro Display", sans-serif;
  font-size: 17px;
font-style: normal;
font-weight: 400;
}

.orders {
  padding: 0 20px 20px 20px;
}

.status::after {
  content: none;
}

.number-item {
  display: flex;
  justify-content: flex-start !important;
  border-bottom: none;
  padding: 0;
}

.number {
  margin-right: 8px;
  color: #0e2539 !important;
  font-weight: 500 !important;
  font-size: 17px;
}

.catalog {
  color: #0e2539 !important;
  font-weight: 500 !important;
}

.filter-items {
  margin-right: 8px;
  color: #000;
  font-weight: 400;
  font-size: 17px;
  font-family: "SF Pro Display", sans-serif;
}

.sort {
  color: #000 !important;
  font-weight: 400 !important;
  font-family: "SF Pro Display", sans-serif;
}

.filter-item {
  margin-right: 8px;
  color: #000;
  font-weight: 400;
  font-size: 17px;
  font-family: "SF Pro Display", sans-serif;
}

.page-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.gray {
  color: #7a7a7a;
}

.number-list__list {
  padding-top: 5px;
}

.status {
  font-size: 11px;
  color: #3c7d46;
  background-color: #e6ffea;
  text-align: center;
  align-content: center;
  padding-right: 0;
  padding: 2px 5px;
  border-radius: 6px;
}

.cancel {
  color: #a94040;
  background-color: #fce9e9;
}

.number-list__info {
  font-size: 13px;
  color: #6d7882;
}

.order-main_sec {
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  padding: 16px 0;
  width: 100%;
}

.order-main_sec::after {
  content: url(/img/arrow-rgth.svg);
  position: absolute;
  right: 20px;
  bottom: 40%;
}

/* catalog */

.catalog-status {
  color: #8e8e92;
  background-color: #f4f4f5;
}

.catalog-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid #dbdbdb;
  border-radius: 0;
  padding: 0;
}

.catalog-list {
  border-bottom: none;
}

.image-catalog::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  bottom: 0;
  border-radius: 50%;
  background-color: #62cf50;
  margin-right: 12px;
}

.off-catalog::before {
  background-color: #d2d2d2;
}

.image-catalog {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.off {
  color: #8f9ba6;
}

.contents {
  padding: 0 16px;
  width: 100%;
}

/* page */

.page-category {
  background-color: #efeff3;
  height: 100vh;
  width: 100%;
  z-index: 50;
  position: fixed;
  left: 0;
  bottom: -100%;
  visibility: hidden;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
}

.page-category.active {
  visibility: visible;
  transform: translateY(0);
  bottom: 1%;
}

.filter-class-item {
  cursor: pointer;
}

.page {
  border-radius: 0;
  background: none;
}

.page-list {
  border-bottom: 1px solid #dbdbdb !important;
  border-radius: 0;
}

.check:first-child::after {
  content: url("/img/Checkmark.svg");
  display: flex; /* или block, в зависимости от ваших нужд */
  width: 16px; /* Укажите необходимые размеры */
  height: 16px;
  margin-right: 15px;
}

.last {
  border-bottom: none !important;
}
.page-wrapper {
  padding: 0 20px 0;
}

.page-content {
  border-radius: 12px;
  background-color: #fff;
  border-radius: 12px;
  margin-top: 20px;
}

.page__filter {
  left: 0;
  background: none;
  border-top: none;
}

/* setting */

.setting__wrapper .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0;
}

.input-group > label {
  font-size: 15px;
  color: #6d7882;
  padding: 0 0 0 0;
  margin: 0;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  margin-top: 14px;
}

.container_wrap {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  width: 92%;
}

.setting__wrapper .container{
  padding-bottom: 10px;
}
.shop_logo-load {
  content: url(/img/plus.svg);
  width: 24px;
  height: 24px;
  background-color: #fff;
  padding: 32px 71px;
  border-radius: 10px;
  border: 1px solid #fff;
}

.shop_logo-load:hover {
  border: 1px solid #d53e76;
}

.store-arrow img {
  padding: 5px;
}

input[type="radio"]:disabled + label {
  color: gray; /* Меняет цвет текста метки */
  cursor: not-allowed; /* Меняет вид курсора на "неразрешающий" */
}

label,
select,
textarea,
input {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 17px;
  color: #7a7a7a;
}

/* Стили для placeholder */
input::placeholder,
textarea::placeholder {
  /* Ваши стили для плейсхолдера */
  color: #7a7a7a;
  font-size: 16px;
  font-family: "SF Pro Display", sans-serif;
  opacity: 1;
}

select,
option {
  font-size: 16px; /* You can also change the font size here */
  background-color: #fff;
}

.select-selected {
  font-family: "SF Pro Display", sans-serif;
}

textarea {
  height: 75px;
}

.setting-footer {
  background: none;
  border: none;
  position: relative;
  background-color: #EFEFF3;
}

.analitics {
  margin-bottom: 16px;
}

.statics_wrap {
  padding: 16px;
}

.plus-stat {
  color: #3c7d46;
}

.minus-stat {
  color: #a94040;
}

/*create-shop */
.header__create-shop {
  padding: 0 20px;
  margin-top: 20px;
}

.title-create__shop {
  padding: 0;
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  color: #0e2539;
  margin-bottom: 5px;
}

.sub-title_details {
  font-size: 15px;
  color: #434d56;
  margin-bottom: 12px;
}

.status-header__shop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.bar {
  width: 100%;
  height: 5px;
  background: rgba(26, 66, 101, 0.2);
  border-radius: 10px;
}

.active-bar {
  width: 100%;
  height: 5px;
  background-color: #1a4265;
  border-radius: 10px;
}

.choose_type {
  padding: 0 16px;
  flex: 1;
}

.choose_type .container {
  padding-bottom: 0;
  padding-top: 10px;
}

.choose_block {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.choose_block a {
  color: #000;
  width: 100%;
}

.choose_text {
  margin: 0;
  color: #6d7882;
  font-size: 15px;
  font-weight: 400;
  padding-top: 24px;
  padding-bottom: 8px;
}

.choose_block-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 31px 0;
  text-align: center;
  width: 100%;
  border: 1px solid #fff;
}

.choose_block-title {
  font-size: 17px;
  font-weight: 500;
  padding: 8px 0 14px 0;
}

.choose_block-subtitle {
  color: #434d56;
  font-size: 13px;
  font-weight: 400;
}

.create-shop {
  height: 100vh;
  padding-bottom: 0;
}

.footer-create_shop {
  background: none;
  border-top: 0;
  position: absolute;
  bottom: 0;
}

.type__block {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input__block {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
}

.input__block label {
  display: flex;
  border-bottom: 1px solid #dbdbdb;
  border-radius: 0;
  margin-left: 20px;
  padding: 11px 9px 11px 0;
  margin-left: 56px;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.choose_block-item:hover {
  border: 1px solid #ffaccb;
}

.choose_block-item.selected {
  border: 1px solid #d53e76;
}

.input__block label:last-child {
  border-bottom: 0;
  color: #C7C7CC;
}

/* Скрыть стандартные радиобуттоны */
input[type="radio"] {
  appearance: none; /* Убираем стандартный внешний вид */
  -ms-transform: scale(0.5); /* IE 9 */
  -webkit-transform: scale(0.5); /* Chrome, Safari, Opera */
  transform: scale(0.9);
  padding: 10px 10px;
  -webkit-appearance: none; /* Для поддержки вебкит-браузеров */
  -moz-appearance: none; /* Для поддержки Firefox */
  width: 18px;
  height: 18px;
  border: 2px solid #c7c7cc;
  border-radius: 50%;
  margin-right: 15px;
  outline: none; /* Убираем контур фокуса */
  position: absolute;
  left: 30px;
}

.arrow-down {
  content: url(/img/arrow-rgth.svg);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.input-group {
  position: relative;
}
.input-group .arrow-down {
  position: absolute;
  right: 20px;
  top: 47px;
  transform: rotate(90deg); /* Поворачиваем элемент на 45 градусов */
}

/* Добавляем псевдоэлемент, чтобы отобразить фоновое изображение */
input[type="radio"]::before {
  content: url(/img/done.svg);
  display: flex;
  width: 26px;
  height: 26px;
  text-align: center;
  /* align-content: center; */
  border-radius: 50%;
  background-color: #1a4265;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  justify-content: center;
  align-items: center;
}

/* Стили для выбранного радиобаттона */
input[type="radio"]:checked::before {
  opacity: 1; /* Показываем иконку для выбранного состояния */
  border: 6px solid #fff;
}

input:disabled {
  cursor: default;
  background-color: #fff;

}

.shop_item-img {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

#nextButton {
  color: #fff;
}
/* Скрыть оригинальный чекбокс */
.switch input {
  display: none;
}

/* Стилизация контейнера для переключателя */
.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 31px;
  margin-right: 15px !important;
}

/* Стилизация ползунка (slider) */
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; /* Цвет фона неактивного переключателя */
  transition: background-color 0.3s ease;
  border-radius: 24px; /* Круглый ползунок */
}

/* Изменение стиля ползунка при выборе */
.switch input:checked + .slider {
  background-color: #1a4265; /* Цвет фона активного переключателя */
}

/* Стилизация ползунка (slider) */
.switch .slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  transition: transform 0.3s ease;
  border-radius: 50%;
}

/* Изменение позиции кнопки при выборе */
.switch input:checked + .slider:before {
  transform: translateX(19px); /* Перемещение кнопки вправо */
}

.check_box-cpa {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  height: 44px;
  border-radius: 10px;
  justify-content: space-between;
}

.cpa {
  padding-left: 15px;
}

.add-item_btn {
  border-top: 0;
  position: relative;
  background: #efeff3;
  padding: 0 0 20px 0;
  padding-top: 25px;
}

.add-item_btn {
  background: #efeff3;
}

.btn-catalog {
  margin-top: 0;
}

.add-item-cont {
  padding-bottom: 10px;
  padding-top: 10px;
}

.type-of {
  padding-bottom: 0;
}
