body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #efeff3;
}

p,h3 {
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
    
}
.container {
  width: 100%;
  max-width: 480px;
  margin: auto;
  background-color: #efeff3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 120px;
}
.header {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile_date {
  flex: 1;
  align-self: center;
  margin-left: 10px;
}
.header img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.header .name {
  font-size: 17px;
  font-weight: bold;
  color: #0e2539;
}
.header .username {
  color: #6d7882;
  font-size: 15px;
}
.connect-wallet {
  display: inline-block;
  padding: 7px 13px;
  background-color: #1a4265;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  align-content: center;
  height: -webkit-fill-available;
}

.connect-wallet p {
  font-size: 16px;
}

.connect-wallet p::before {
  content: url(/img/wallet.svg);
  margin-right: 7px;
}

.icons {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.icons img {
  width: 80px;
  height: 80px;
}
.content {
  text-align: center;
  padding: 20px;
}
.content img {
  width: 110px;
  height: 110px;
}
.content .title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
  color: #0e2539;
}
.content .description {
  color: #666;
  margin-top: 16px;
  font-size: 15px;
  color: #434d56;
}
.create-store {
  display: block;
  padding: 15px 30px;
  background-color: #d53e76;
  color: white;
  border-radius: 16px;
  text-decoration: none;
  margin-top: 24px;
}

.read-faq {
    background-color: #fff;
    padding: 0 20px;
    display: flex;
    margin: 0 20px;
    border-radius: 20px;
    height: 80px;
    align-content: center;
    align-items: center;
    margin-top: 20px;
}

.learn h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.learn p {
  font-size: 13px;
  text-decoration: none;
  text-transform: none;
  color: #d53e76;

}


.bucket-img img{
    object-fit: cover;
    margin-right: 15px;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  justify-content: space-between;
  width: -webkit-fill-available;
}
.footer img {
  width: 30px;
  height: 30px;
}
.footer .nav-item {
  display: inline-block;
  width: 33%;
  text-align: center;
}
